# Network
NETWORK_NAME=

# Postgres Root
POSTGRES_ROOT_USER=
POSTGRES_ROOT_PASSWORD=
POSTGRES_DB=

# Postgres host/port used by services
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_HOST_PORT=

# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_HOST_PORT=
RABBITMQ_MGMT_PORT=
RABBITMQ_MGMT_HOST_PORT=

# Sigma / ports
SIGMA_PORT= 
SIGMA_HOST_PORT=

#KeyCloak
KC_ADMIN_USER=
KC_ADMIN_PASSWORD=